<input type="email" name="email" id="email" placeholder="Email Address*" autofocus class="form-control login_form_fields" required/>
</div>
<div class="form-group login_submit_fields">
    <input type="submit" class="login_form_submit_btn" value="RESET PASSWORD" onclick="yay()"/>
</div>
<script>
function yay()
{
	console.log(document.getElementById('email').value);
}
</script>
